// COLORS
$color-main-1: #9EBC3B;
$color-main-2: #1E1D1D;
$color-main-3: #725736;


$color-card-1-1: #9EBC3B;
$color-card-1-2 :#7ca005;

$color-card-2-1:#9EBC3B;
$color-card-2-2 :#7ca005;

$color-card-3-1: #9EBC3B;
$color-card-3-2 :#7ca005;

$color-card-hover :#ebffa9;

$color-grad-1: #2a3603;
$color-grad-2: #160d01;

$color-white: #fff;
$color-black: #000;
$color-grey: #777;
$color-grey-light: #f7f7f7;
$color-grey-dark: rgb(49, 49, 49);

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// TEXT
$text-size: 1.6rem;