.footer {
    background-image: linear-gradient(132deg, rgba($color-grey-dark, .9), rgba($color-black,.8)), url(../img/card-1.jpg);
    padding: 10rem 0;
    background-size: cover;
    background-position: center;
    font-size: 1.4rem;
    overflow: hidden;

    &__logo-box {
        margin-bottom: 10rem;
        margin-top: -1rem;
        text-align: center;

        @include respond(tab-land) {
            margin-bottom: 5rem;
            margin-top: -2rem;
        }
    }
    
    &__logo {
        height: 2rem;
        width: auto;

        @include respond(tab-land) {
            height: 50%;
            width: auto;
        }
    }

    &__navigation {
        border-top: 2px solid $color-grey-light;
        width: 80%;

        @include respond(tab-land) {
            width: 100%;
            text-align: center;
            margin-bottom: -2rem;
            font-size: 2rem;
        }
    }

    &__list {
        width: 85%;
        list-style: none;
        margin: 0 auto;

        @include respond(tab-land) {
            width: 100%;
            text-align: center;
            padding: 1.5rem 2rem;
            margin-bottom: 1rem;
        }
    }


    &__item {
        text-transform: uppercase;
        padding: 1rem 2rem;
        float: left;
        text-decoration: none;
        color: $color-white;

        @include respond(tab-land) {
            float: none;
            
        }

        &:hover {
            background-color: $color-main-1;
            color: $color-grey-dark;
        }
    }

    &__copyrights {
        color: $color-white;
        border-top: 2px solid $color-grey-light;
        padding-top: 1rem;
        text-align: center;
        width: 70%;
        float: right;

        @include respond(tab-land) {
            float: none;
            width: 100%;
            font-size: 1.5rem;
        }
    }
}
