.section-about {
    background-color: $color-grey-light;
    padding: 25rem 0;
    margin-top: -20vh;
    height: 120vh;
    padding-bottom: 80rem;
    
    @include respond(tab-land) {
        text-align: center;
        height: 200vh;
    }

    @include respond(tab-port) {
        text-align: center;
        height: 185vh;
    }

    @include respond(phone) {
        text-align: center;
        height: 205vh;
    }
}

/*
//wave
.waves {
    z-index: -2;
    height: 100%;
    margin-top: -80vh;
    margin-bottom: 0;
}

.path{
    fill : url(#gradient)
}

*/

.section-features {
    z-index: 0;
    margin-top: -10rem;
    padding: 10rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-grad-1, 0.8),
        rgba($color-grad-2, 0.8)),
        url(../img/header-picture4.jpg);
    background-size: cover;
    background-position: center;

    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }
}

.section-cards {
    z-index: 0;
    padding-top: 15rem;
    padding-bottom: 5rem;
    margin-top: -8rem;
    background-color: $color-grey-light;
}


